<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block w-100" id="img1" src="assets/img/mac.jpg" alt="First slide">

    </div>

  </div>



  <p style="text-align:center;margin-top:2em"><b>if you got any question<br>please don't hestate to send us a
      message</b></p>

  <div class="container contact">
    <div class="row">
      <div class="col-md-3">
        <div class="contact-info">

          <!-- <img src="https://localhost:44334/" alt="image" /> -->


        </div>
      </div>
      <div class="col-md-9">
        <div class="contact-form">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="test3" type="submit" class="btn btn-warning">Submit</button>
            </div>

            <h2 id="test2">Contact With Us</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
