#test1{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
#test2{
    text-align: center;
     margin-top: 1em;
     margin-right: 3em;
}
#test3{
    text-align: center;
    margin-left: 19em;
}
#test4{
display:block;
}
#img1{
        height: 26em;
}
