#fot1{
    text-align: center;
    color: orange;
    margin-top: 4em;

}
#fot2{
  text-align: center;
    color: orange;
    margin-top: 4em;
}
#tex{
  color:black;
  margin-top: 2em;
  padding-left: 10em;
  padding-right: 6em;
}
#di{
  color: white;
  margin-top: 2em;
}
#col{
  color: orange;
}
#footer{
  background-color:#A9A9A9;
}
