<footer class="py-5 mt-4" id='footer'>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xd-12">
            <h2 style='color:orange; margin-left: -66%;'  class="text-center">Contact</h2>
            <a href="https://www.google.net/" target="_blank" style="color:black;" class="text-center">Home</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;"
              class="text-center">Catalogie</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;" class="text-center">About Us</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;" class="text-center">Contact</a>
          </div>
          <div class="col-lg-4 col-md-4 col-xd-12">
            <h2 style='color:orange ; margin-left: -66%;' class="text-center">Service</h2>
            <a href="https://www.google.net/" target="_blank" style="color:black;" class="text-center">Home</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;"
              class="text-center">Catalogie</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;" class="text-center">About Us</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;" class="text-center">Contact</a>
          </div>
          <div class="col-lg-4 col-md-4 col-xd-12">
            <h2 style='color:orange ; margin-left: -66%;' class="text-center">Information</h2>
            <a href="https://www.google.net/" target="_blank" style="color:black;" class="text-center">Home</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;"
              class="text-center">Catalogie</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;" class="text-center">About Us</a><br>
            <a href="https://www.google.net/" target="_blank" style="color: black;" class="text-center">Contact</a>
          </div>

        </div>
      </div>
    </div>

  </div>
</footer>
