<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body>

  <!-- <h1 id="tit">Samsung Glaxy S10 factory</h1> -->



   <!-- image produit -->
  <!-- <img class="card-img-top" src="assets/img/tele2.jpg" alt="Card image cap" id="img4"> -->


  <!-- swiper -->
  <!-- <div class="container" id="petitimag">
    <div class="row">
      <div class="col-1">
        <img src='assets/img/tele2.jpg' alt="img" id="photo1">
      </div>
      <div class="col-1">
        <img src='assets/img/tele2.jpg' alt="img" id="photo2">
      </div>
      <div class="col-1">
        <img src='assets/img/tele2.jpg' alt="img" id="photo3">
      </div>
      <div class="col-1">
        <img src='assets/img/tele2.jpg' alt="img" id="photo4">
      </div>

    </div>
  </div>

  <hr>

  <p style='text-align: center'><b>Frequently bought together</b></p>



  <div class="container one">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-xd-12">

        <img src="assets/img/tele2.jpg" class="img-fluid my-3" alt="Smiley face" style="width: 16em; height: 7em;">
      </div>
      <div class="col-lg-1 col-md-6 col-xd-12">
        <strong class="text-center mt-3">+</strong>
      </div>
      <div class="col-lg-2 col-md-6 col-xd-12">

        <img src="assets/img/tele2.jpg" class="img-fluid my-3" alt="Smiley face" style="width: 16em; height: 7em;">
      </div>
      <div class="col-lg-1 col-md-6 col-xd-12">
        <strong class="text-center mt-3">+</strong>
      </div>

      <div class="col-lg-2 col-md-6 col-xd-12">

        <img src="assets/img/tele2.jpg" class="img-fluid my-3" alt="Smiley face" style="width: 16em; height: 7em;">
      </div>
      <div class="col-lg-1 col-md-6 col-xd-12">
        <strong class="text-center mt-3">+</strong>
      </div>

      <div class="col-lg-3 col-md-6 col-xd-12">

        <p>Total price $305.89</p>

      </div>
    </div>
  </div> -->


<div class="container">
  <div class="row">
    <div class="col-4">
      <img id='imgpanel' src="assets/img/panel.jpg" alt="Card image cap">
    </div>
    <div class="col-8">
      <div class="tous2">
      <h4>Samsung Galaxy S10 Factory</h4>
      <h4>Ynlocked Phone with 128GB - Prism Black</h4>

      <h1>980.00$</h1>
      </div>
    </div>

  </div>
</div>




  <div class="container">
    <div class="row">
      <div class="col-4">
        <img class="card-img-top" src="assets/img/tele2.jpg" alt="Card image cap" >
      </div>
      <div class="col-4">
        <h1>Name of Prodouit</h1>
        <h3>brand Name</h3>
      </div>
      <div class="col-4" id='bgco'>
          <div class='tous'>
          <p>$ 869.00 <p>
          <p>+ $73.27 Shipping & Import Fees</p>
          <p>Deposit to Morocco</p>
          <p>Get it</p>
          <p>by Tuesday, Jan. 28 - Monday,</p>

          <p>Feb;3 CHoose this date at</p>


        <p>checkout .<span style='color:blue'>Learn more</span></p>

        <div class="tous3">
          <button>Add to Card</button>
          <br>
          <button style="width: 102px;">Buy Now </button>
        </div>


       </div>


      </div>
    </div>
  </div>

<hr>

</body>

</html>
