<!-- grid 1 -->
<div class="container" id="test1">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <a [routerLink]="['/pagepanel']" target="_blank"><img class="card-img-top" src="assets/img/sa3a.jpg"
            alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <img src="assets/img/etoial.jpg" id="etoial">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/sa3a.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <img src="assets/img/etoial.jpg" id="etoial">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/sa3a.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <img src="assets/img/etoial.jpg" id="etoial">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- grid 2 -->

<div class="container" id="test2">
  <div class="row">
    <div class="col-sm">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/sa3a.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <img src="assets/img/etoial.jpg" id="etoial">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/sa3a.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <img src="assets/img/etoial.jpg" id="etoial">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/sa3a.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's
            content.</p>
          <img src="assets/img/etoial.jpg" id="etoial">
        </div>
      </div>
    </div>
  </div>
</div>
