

#span1{
color: #DCDCDC;
}


#imglogin{

    height: 45em;
    margin-left: -146px;
    margin-top: 0em;
    width: 43em;

}
#sign{
    text-align: center;
    margin-top: 25%;
    margin-left: 26%;

}
#grid{
    margin-left: 20%;
    margin-top: 20%;
    width: 104%;
}
#global{

    margin-left: 27%;
    width: 83%;
    margin-right: 34px;
     padding-top: 7%;
}
#span2{
    color: #A9A9A9;
}
